<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TechWithNkululeko - About</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="./img/admin/Favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/about.css" type="text/css" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />


</head>

<body>

    <!-- ================ Header ======================= -->
    <header>
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <!-- Navbar Logo -->
                <div class="logo">
                    <img src="./img/admin/logo-SVG.svg" alt="logo" height="35px" width="auto">
                </div>

                <!-- Navbar Links -->
                <ul id="menu">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="blog.php">Blog</a></li>
                    <li>
                        <p style="color:#57cc99; cursor: default" href="#">About</p>
                    </li>
                    <li><a href="contact.php">Contact</a></li>
                </ul>
            </div>
        </nav>


        <!-- Menu Icon -->
        <div class="menuIcon">
            <span class="icon icon-bars"></span>
            <span class="icon icon-bars overlay"></span>
        </div>


        <div class="overlay-menu">
            <ul id="menu">
                <li><a href="index.php">Home</a></li>
                <li><a href="blog.php">Blog</a></li>
                <li>
                    <p style="color:#57cc99; cursor: default" href="#">About</p>
                </li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </div>
    </header>



    <!-- -======================= About Me ============================== -->



    <section id="about">

        <div class="container">
            <div class="screen">
                <div class="about-header">
                    <div class="app-title">
                        <span>ABOUT ME</span>


                        <!-- My Image -->
                    </div>
                    <!-- <img height="100px" width="auto" src="./img/admin/IMG_2806.png" alt="about-img-profile" class="clip-circle"> -->
                </div>
                <div class="screen-body">
                    <div class="screen-body-item left">
                        <p>I am just a normal person with a deep interest in things that are related to technology. I am
                            not quite sure what causes this burning interest in tech because I did not grow up around
                            computers or tech-savvy environment. I grew up in a small township KwaDabeka which is
                            located northwest of Durban City, South Africa. The only factor that directed me towards the
                            things that I am doing right now is the BSc Computer Science that I am currently trying to
                            obtain in the University of Cape Town. The thing that I like about myself is that I like to
                            learn new stuff more often due to that I have learned many skills using online resources, 3D
                            modeling, Photography, Video Editing, and Graphic Design.</p>
                    </div>
                    <div class="screen-body-item center">
                        <p>I always wanted to have a blog that I manage but I was unsure whether I am capable of
                            learning to make one. The one big thing that made me to not start a blog is the thought that
                            a blog has to be started by someone who has good writing skills and good English and with a
                            lot of knowledge in a particular topic. Unfortunately according to my thought, I was not the
                            kind of person capable of starting his blog. What made me start it so? you may be asking
                            yourself that question the thing that I just told myself is that starting the blog doesn’t
                            matter if it perfect or not. And I had nothing to lose so I told myself that if I failed I
                            would have learnt a lot and if I succeed then cheers to that.</p>
                    </div>
                    <div class="screen-body-item right">
                        <p>This blog is all about producing content related to technology. I have decided to share what
                            I have learned about programming, computers, mobile phones the internet, and also other
                            useful tech solutions and information. I may not be an expert in the field but I believe
                            that the slight knowledge that I have might be useful to someone without even a bit of it.
                            My goal and mission are to also inspire young South African to learn to use the internet to
                            share helpful and educational information especially the African community. I believe that
                            anyone can learn to make websites, mobile apps and other tech skills without even having a
                            school qualification. With the right resources, opportunities are endless. </p>
                    </div>
                </div>
            </div>
        </div>


    </section>




    <footer id="footer">
        <h5>Follow Me</h5>
        <div class="social-icons">
            <a href="http://www.instgram.com/iamnkululekombhele" target="_blank"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="http://www.facebook.com/iamnkululekombhele" target="_blank"><i class="fa fa-facebook"
                    aria-hidden="true"></i></a>
            <a href="http://www.twitter.com/itnkululeko" target="_blank"><i class="fa fa-twitter"
                    aria-hidden="true"></i></a>
            <a href="http://www.youtube.com/channel/UCJ8-9ak06iRLeuSHQ_kSf3g?view_as=subscriber" target="_blank"><i
                    class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="http://www.pinterest.com/techwithnkululeko" target="_blank"><i class="fa fa-pinterest"
                    aria-hidden="true"></i></a>
            <a href="http://www.linkedin.com/in/nkululeko-mbhele-2901a415b/" target="_blank"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
        </div>
        <p id="copyright"></p>

    </footer>

    <script src="./js/script.js"></script>
</body>

</html>