<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TechWithNkululeko - Contact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="./img/admin/Favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/contact.css" type="text/css" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />


</head>

<body>

    <!-- ================ Header ======================= -->
    <header>
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <!-- Navbar Logo -->
                <div class="logo">
                    <img src="./img/admin/logo-SVG.svg" alt="logo" height="35px" width="auto">
                </div>

                <!-- Navbar Links -->
                <ul id="menu">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="blog.php">Blog</a></li>
                    <li><a href="about.php">About</a></li>
                    <li>
                        <p style="color:#57cc99; cursor: default" href=#">Contact</p>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Menu Icon -->
        <div class="menuIcon">
            <span class="icon icon-bars"></span>
            <span class="icon icon-bars overlay"></span>
        </div>


        <div class="overlay-menu">
            <ul id="menu">
                <li><a href="index.php">Home</a></li>
                <li><a href="blog.php">Blog</a></li>
                <li><a href="about.php">About</a></li>
                <li>
                    <p style="color:#57cc99; cursor: default" href=#">Contact</p>
                </li>
            </ul>
        </div>
    </header>

    <!-- -======================= Contact form ============================== -->

    <section id="contact">
        <div class="background">
            <div class="container">
                <div class="screen">

                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span>CONTACT</span>
                                <span>ME</span>
                            </div>
                            <img id="in-logo" src="./img/admin/logo-SVG.svg" alt="logo">
                        </div>
                        <div class="screen-body-item">
                            <form action="contact.php" method="post" class="app-form">
                                <div class="app-form-group">
                                    <input type="text" autocomplete="false" class="app-form-control" placeholder="Name"
                                        value="">
                                </div>
                                <div class="app-form-group">
                                    <input type="text" autocomplete="off" class="app-form-control" placeholder="Email">
                                </div>

                                <div class="app-form-group message">
                                    <input type="email" autocomplete="off" class="app-form-control"
                                        placeholder="Message">
                                </div>
                                <div class="app-form-group buttons">
                                    <input class="app-form-button" type="submit" value="SEND">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>





    <footer id="footer">
        <h5>Follow Me</h5>
        <div class="social-icons">
            <a href="http://www.instgram.com/iamnkululekombhele" target="_blank"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="http://www.facebook.com/iamnkululekombhele" target="_blank"><i class="fa fa-facebook"
                    aria-hidden="true"></i></a>
            <a href="http://www.twitter.com/itnkululeko" target="_blank"><i class="fa fa-twitter"
                    aria-hidden="true"></i></a>
            <a href="http://www.youtube.com/channel/UCJ8-9ak06iRLeuSHQ_kSf3g?view_as=subscriber" target="_blank"><i
                    class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="http://www.pinterest.com/techwithnkululeko" target="_blank"><i class="fa fa-pinterest"
                    aria-hidden="true"></i></a>
            <a href="http://www.linkedin.com/in/nkululeko-mbhele-2901a415b/" target="_blank"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
        </div>
        <p id="copyright"></p>

    </footer>


    <script src="./js/script.js"></script>
</body>

</html>